# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
.env

# Flask instance
instance/
*.db

# Migrations
migrations/__pycache__/
migrations/env.pyc

# IDEs
.vscode/
.idea/

# Tailwind / Node
node_modules/
app/static/css/input.css       # ✅ solo dejamos output.css en producción
tailwind.config.js
postcss.config.js
package-lock.json
package.json

# Archivos temporales o auto-generados
*.log
*.bak
.DS_Store

# Subidas de usuarios
app/static/uploads/

# (opcional) Si usas pytest
.pytest_cache/
